"~/.gitignore_global"
.DS_Store
/.bundle
/bin/log
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/public/system
/public/assets
/tmp
/test_results
dump.rdb
/public/packs
/public/packs-test
/node_modules
/coverage
/storage
/app/frontend/coverage
.env.development
yarn-error.log
junit.xml
latest.dump
